
      body{
        background-color: #EAF6F6;

  }
      hr{
        background-color: transparent;
        border-color: grey;
        border-style: none;
        border-top-style: dotted;
        border-width: 5px;
        width:5%;
  }
      h1{
        color:#66BFBF;
        font: bold 36px "Fira Sans", sans-serif;
  }
      h3{
        color:#57C5B6;
        font: italic 1.2em "Fira Sans", serif;
  }
      p{
        color:#57C5B6;
  }
  
  a{
      color:#57C5B6;
      
  }
  a:hover{
      color:burlywood;
  }
label{
    color:burlywood;  
}
textarea{
      background-color:#EAF6F6;
}
input{
      border-width: 1px;
      background-color: #EAF6F6;
}
table{
  color:#57C5B6;
}
li{
  color: #57C5B6;
}
